################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tuan3/Lab/.vs
/Tuan4/Lab/.vs/Lab
/Tuan4/Lab/.vs/ProjectEvaluation
/Tuan5/Lab/.vs/Lab
/Tuan5/Lab/.vs/ProjectEvaluation
/Tuan6/Lab/.vs
/Tuan7/LAB/.vs
