@model List<Lab.Models.Product>

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="container mt-5">
    <h1>Chi tiết sản phẩm</h1>
    <a class="btn btn-primary mb-2" href="create-product">Thêm mới sản phẩm</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã sản phầm</th>
                <th>Tên sản phẩm</th>
                <th>Giá tiền</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <div>
                            <a class="btn btn-warning" href="#">Edit</a>
                            <a class="btn btn-danger" href="#">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
