@model Class
<h1>Sửa lớp</h1>
<form action="/Class/Edit" method="post">
	<div class="form-group">
		<label asp-for="ClassId"></label>
		<input class="form-control" disabled asp-for="ClassId" />
	</div>
	<div class="form-group">
		<label asp-for="ClassName"></label>
		<input class="form-control" asp-for="ClassName" />
	</div>
	<div class="form-group">
		<button class="btn btn-success" type="submit">Submit</button>
	</div>
</form>
